---
layout: splash
author_profile: false
title: ""
---
<style>
.button {
  display: inline-block;
  border-radius: 3px;
  background-color: #990000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
</style>

<!--header:
  image: /static/img/color_doppler_cropped.jpg-->

<!--{% include feature_row %}
feature_row:  
intro: 
  #- image_path: /static/img/color_doppler5.png
  - title: "Welcome to the Arnaout Lab!"
  - excerpt: "Improving the resolution and accuracy of cardiovascular phenotypes will lead to novel insights and therapies. This can occur by drilling down—understanding the genetic and cellular mechanism of a particular disease—or going broad, using computational means to analyze precision phenotypes at scale.
  Dr. Arnaout is currently developing computational methods to bring precision phenotyping to echocardiography. Her background as a physician-scientist informs the future scope of this work as a technology that can transform non-invasive imaging into a big-data tool for both research and clinical use. She also uses the zebrafish animal model to study cardiovascular developmental gene function and to model human cardiovascular disease."
{% include feature_row id="intro" type="center" %}
-->

<!--{% include gallery  type="center"%}-->

<!--{% include feature_row class="full"%}-->



<div class="w3-sidebar w3-bar-block" style="width:25%; float:left; font-size:90%;">
<button class="button" style="vertical-align:middle"><span>Join Us </span></button>

<h1> Recent News </h1>

<ul style="font-size:80%; list-style: none; padding-left:0;">

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
   </ul>
</div>

<div class="jumbotron" style="margin-left:28%;">
  <h1>Welcome to the Arnaout Lab!</h1>
  <img src="/static/img/color_doppler5.png">
  <p class="lead"><center>We are part of the Division of Cardiology in the Department of Medicine at UCSF.</center><br> 
</div>

