---
layout: splash
author_profile: false
title: ""
feature_row:
  - image_path: ../static/img/color_doppler5.png
---

<!--header:
  image: /static/img/color_doppler_cropped.jpg-->

<!--{% include feature_row %}
feature_row:  
intro: 
  #- image_path: ../static/img/color_doppler5.png
  - title: "Welcome to the Arnaout Lab!"
  - excerpt: "Improving the resolution and accuracy of cardiovascular phenotypes will lead to novel insights and therapies. This can occur by drilling down—understanding the genetic and cellular mechanism of a particular disease—or going broad, using computational means to analyze precision phenotypes at scale.
  Dr. Arnaout is currently developing computational methods to bring precision phenotyping to echocardiography. Her background as a physician-scientist informs the future scope of this work as a technology that can transform non-invasive imaging into a big-data tool for both research and clinical use. She also uses the zebrafish animal model to study cardiovascular developmental gene function and to model human cardiovascular disease."
{% include feature_row id="intro" type="center" %}
-->

<!--{% include gallery  type="center"%}-->

<!--{% include feature_row class="full"%}-->
<style>
@media (min-width: 769px) {
    .jumbotron{
    margin-left:28%;
    }
}
    
@media (max-width: 768px) {
    .w3-sidebar {
        display: none;
    }
    .jumbotron{
        margin-left: 0%;
        float: left;
    }
}
</style>



<div class="w3-sidebar w3-bar-block" style="width:25%; float:left; font-size:90%;">

<h1> Recent News </h1>

<ul style="font-size:80%; list-style: none; padding-left:0;">

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
   </ul>
</div>

<div class="jumbotron">

  <h1>Welcome to the Arnaout Lab!</h1>
  <img src="/color_doppler5.png">

  <p class="lead"><center>We are part of the Division of Cardiology in the Department of Medicine at UCSF.</center><br> 
</div>


