/* ==========================================================================
   MASTHEAD
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Open+Sans'); // add open sans font
@import url('https://fonts.googleapis.com/css?family=PT+Sans'); // add pt sans
.masthead {
  position: relative;
  /*-webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;*/
  z-index: 20;

  &__inner-wrap {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    max-width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    // font-family: $sans-serif-narrow;
    //font-family: Open Sans;
    font-family: 'PT Sans', sans-serif;
    font-size:$type-size-5;
    text-transform: uppercase; // make uppercase

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;

    }

    a {
      text-decoration: none;
    }
  }
}

.site-title {
  display: -webkit-box;
  display: flex;
  //padding: 0.5rem 0;
  align-self: stretch;
  align-items: bottom;
  font-weight: bold;
  z-index: 20;
  font-size: $type-size-4;
  text-transform: uppercase; // make uppercase
}

.masthead__menu {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;

  .site-nav {
    margin-left: 0;

    @include breakpoint($small) {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}

// custom for "Join Us" button
.button {
  display: inline-block;
  border-radius: 1px;
  background-color: red;
  //background-color: $primary-color;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-family: 'Pt Sans', sans-serif;
  text-transform: uppercase;
  padding: 8px;
  width: 110px; // change width of button
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

